.login .material-icons {
    font-size: 6em;
}

.login {
    width: 100%;
    height: 300px;
    color: white;
    font-size: 3em;
    font-family: "Roboto Condensed";
    font-weight: 300;
    margin-top: 150px;
    text-align: center;
}

.login b {
  font-weight: 400;
}
