.login.widget {
	top:50%;
	left: 50%;
	margin-top:-185px;
	margin-left: -200px;
	width: 400px;
	background: rgb(52, 152, 219);
}

.login.widget #cam-container {
	opacity: 0.5;
	width: 100%;
	height:250px;
	overflow: hidden;
}

.login.widget #cam {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.login.widget #text {
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 22px;
}

.login.widget #text .material-icons {
	color : rgb(52, 73, 94);
	font-size: 40px !important;
	margin-bottom: 10px;
}

.login.widget #canvas {
	display: none;
}

.loader {
	display: none;
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -80px;
	margin-left: -80px;
}

.loader img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.loader:before,
.loader {
	border-radius: 50%;
	width: 160px;
	height: 160px;
	content: '';
}

.loader:before {
	display: block;
	margin: -1.1em;
	font-size: 10px;
	position: absolute;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
