.widget {
	border-radius: 3px;
  display: none;
	position: absolute;
	cursor: move;
	z-index: 0;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.widget.top {
	z-index: 2;
}

.widget.bottom {
	z-index: 1;
}

.tray {
  bottom: 10px;
  right: 10px;
  position: absolute;
  color: white;
  background: black;
  padding: 10px;
  text-decoration: none
}

.tray i.material-icons {
	vertical-align: middle;
}
