*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: url('../images/dots.png') black;
}

#box{
  background: url('../images/notif.png');
  border-radius: 4px;
  position: absolute;
  width: 303px;
  height: 270px;
}
