.button {
  background: white;
  border-radius: 32px;
  display: inline-flex;
  flex-direction: row;
  padding: 16px;
  padding-right: 20px;
  padding-left: 20px;
  color: #333;
  justify-content: center;
  align-items: center;
  .icon {
    margin-right: 12px;
    width: 24px;
    height: 24px;

    .material-icons {
      color: #333;
    }
  }
}
