.home {
  .wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    background: url(http://i.imgur.com/u2oPC.jpg);
    width: 100%;
    height: 100%;
  }

  .mesh {
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.3) 6%,
      transparent 0
    );
    background-size: 35px 35px;
    width: 100%;
    height: 100%;
  }

  .desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top {
      margin-bottom: auto;
    }
    .bottom {
      margin-top: auto;
    }
    .left {
      align-self: flex-end;
    }
    .center {
      align-self: center;
    }
    .right {
      align-self: flex-end;
    }
  }
}
