* {
  outline: none;
}

html {
  cursor: none;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: black;
  opacity: 1.0;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
}


@import 'alarm.css';
@import 'home.css';
@import 'dummy.css';
@import 'login.css';
@import 'message.css';
@import 'notification.css';
@import 'training.css';
@import 'video.css';
@import 'weather.css';
@import 'widget.css';
